<div class="code">
  <h3>Code</h3>
  {{link-to 'Run something else' 'run_request' class="new-link"}}
  {{source-code code=model.code language=model.language}}
  <div class="metadata">
    <span class="created_at">{{model.created_at}}</span>
    <div class="right_metadata">
      <span class="exit_code">{{model.exit_code}}</span>
      <span class="language">{{language-name model.language}}</span>
    </div>
  </div>
</div>

<div class="output">

  {{#if model.pretty_stderr}}
    <div class="stderr">
      <h3>Error output</h3>
      {{source-code code=model.pretty_stderr language='nohighlight'}}
    </div>
  {{/if}}

  <div class="stdout">
    <h3>Output</h3>
    {{#if model.stdout}}
      {{source-code code=model.stdout language='nohighlight'}}
    {{else}}
      There was no output.
    {{/if}}
  </div>
</div>