<div id="editor">
  <Codemirror
    @value={{model.code}}
    @valueUpdated={{action "updatedCode"}}
    @options={{hash
      lineNumbers=true
      mode=editorLanguage
      theme="neat"
    }} />
</div>

<div id="controls">
  <LanguageSelect
    @languages={{languages}}
    @language={{model.language}}
    @version={{model.version}}
    @action={{action "updateRequest"}} />

  <button {{action "submit"}} disabled={{isInvalid}}>Compile &amp; run code</button>
</div>